@font-face {
    font-family: cooper;
    src: url(/CooperLtBTWXXLight.woff2);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cooper;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    /* position: relative; */
}
#nav{
    width: 100%;
    height: 15vh;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    position: fixed;
    top: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 999;
}
#nav>h1{
    font-size: 2.5vw;
    font-weight: 500;
    transition: linear 0.3s;
}
#nav>h1:hover{
    scale: 0.95;
    color: rgba(0, 0, 0, 0.832);
    cursor: pointer;
}
#nav-part2{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav-part2>a{
    text-decoration: none;
    color: black;
    font-size: 1.3vw;
    font-weight: 400;
    transition: linear 0.3s;
    margin: 0px 23px;
}
#nav-part2>a:hover{
    border-bottom: 2px solid lightgreen;
    cursor: pointer;
}
#nav-part2 #btn{
    padding: 2px 20px 9px 20px;
    border: 1px solid rgba(0, 0, 0, 0.617);
    border-radius: 50px;
    background-color: transparent;
    transition: linear 0.3s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
#btn #arrow{
    font-size: 2vw;
    padding-left: 6px;
}
#btn>a{
    text-decoration: none;
    color: black;
    transition: linear 0.3s;
}
#btn a h5{
    font-size: 1.2vw;
    font-weight: 500;
    position: relative;
    z-index: 9;
}
#nav-part2 #btn #green{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: -100%;
    background-color: lightgreen;
    transition: left 0.4s linear;
}
#nav-part2 #btn:hover #green{
    left: 0%;
}
#page1{
    width: 100%;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page1>h1{
    width: 50%;
    font-size: 5.5vw;
    font-weight: 100;
    text-align: center;
    position: relative;
    z-index: 99;
}
#page1>h1::after{
    content: "";
    width: 47%;
    height: 20px;
    background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
    background-size: cover;
    background-position: center;
    position: absolute;
    bottom: -5%;
    left: 50%;
    transform: translate(-50%,0);
    z-index: 99;
}
#page1 #img1{
    width: 280px;
    height: 400px;
    position: absolute;
    left: 4%;
    top: 27%;
}
#page1 #img2{
    width: 230px;
    height: 230px;
    position: absolute;
    right: 25%;
    top: 17%;
}
#page1 #img3{
    width: 230px;
    height: 230px;
    position: absolute;
    right: 8%;
    top: 58%;
}
#page1 img:hover{
    margin-top: -10px;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
#page1 #btn1{
    width: 30%;
    position: absolute;
    bottom: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#page1 #btn1>h3{
    font-size: 1.8vw;
    font-weight: 500;
    margin-right: 10px;
}
#page1 #btn1 #arrow1{
    font-size: 2vw;
    padding: 0px 20px;
    border-radius: 50px;
    background-color: transparent;
    border: 0.5px solid black;
    position: relative;
    overflow: hidden;
    z-index: 99;
    cursor: pointer;
}
#arrow1 #green{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: -100%;
    background-color: lightgreen;
    transition: left 0.4s linear;
    z-index: -1;
}
#btn1 #arrow1:hover #green{
    left: 0%;
}
#page2{
    width: 100%;
    height: 70vh;
    background-color: black;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#page2 h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.3vw;
    font-weight: 500;
    position: relative;
}
#page2 h5::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: lightgreen;
    bottom: 15%;
    left: -7%;
}
#page2 h1{
    width: 65%;
    font-size: 3.5vw;
    font-weight: 100;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    position: relative;
}
#page2 h1::after{
    content: "";
    position: absolute;
    background-image: url(https://thisisdigital.co.uk/dist/images/circle-green.svg);
    width: 23%;
    height: 40%;
    bottom: -2%;
    left: 36.5%;
}
#page2 #about{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about h3{
    font-size: 2vw;
    font-weight: 100;
    margin-right: 15px;
}
#about button{
    padding: 2px 20px 5px 20px;
    background-color: transparent;
    border: 0.5px solid white;
    border-radius: 50px;
    color: white;
    font-size: 1.5vw;
    font-weight: 600;
    z-index: 9;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
#green{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: lightgreen;
    top: 0%;
    left: -100%;
    transition: left ease-in-out 0.5s;
    z-index: -1;
}
#about button:hover #green{
    left: 0%;
}
#page3{
    width: 100%;
    height: 100vh;
    background-color: white;
}
